.card-why-container {
    margin: 10px 0px;
}
.card-why-content {
    max-width: 370px;
    padding: 40px;
    text-align: center ;
}
.button-section-1-container{
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 560px;
}
.card-why-image {
    max-width: 200px;
    max-height: 120px;
}
.discover-container {
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
    max-width: 560px;
}
.description-discover {
    text-align: center;
    font-size: 14px;
    margin: 16px auto;
    max-width: 620px;
}

